*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
    --lightBlue:#f4f4f4;
    --lightGreen:#fff;
    --brown:#555555;
    --darkGreen:#efefef
}

body {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
    background: var(--lightBlue);

}

.main-search {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 0.25rem solid var(--brown);
    font-size: 3rem;
    padding: 0.5rem 0;
    color: var(--brown);
    text-transform: uppercase;
    outline: none;
}
.main-btn {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 2rem;
    border-radius: 0.25rem;
    text-transform: capitalize;
    background: transparent;
    color: var(--brown);
    border: 0.15rem solid var(--brown);
    transition: all 0.3s linear;
}
.main-btn:hover {
    
    -webkit-box-shadow: inset -1px 7px 33px 5px rgba(0,0,0,0.75);
-moz-box-shadow: inset -1px 7px 33px 5px rgba(0,0,0,0.75);
box-shadow: inset -1px 7px 33px 5px rgba(0,0,0,0.75);
}
.wait-icon {
    display: none;
    margin: 1rem auto;
}
.show {
    display: none;
}
.search-item {
    text-align: left;
    list-style-type: none;
    border: 0.05rem solid var(--darkGreen);
    padding: 1rem;
    margin: 1rem 0;
    background: var(--lightGreen);
    border-radius: 0.5rem;
    -webkit-box-shadow: inset -1px 7px 33px 5px rgba(0,0,0,0.75);
-moz-box-shadow: inset -1px 7px 33px 5px rgba(0,0,0,0.75);
box-shadow: inset -1px 7px 33px 5px rgba(0,0,0,0.75);
}
.search-item__title {
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.search-item__text {
    margin: 0.5rem 0;
    letter-spacing: 0.2rem;
}
.search-item__link {
    text-decoration: none;
    color: var(--brown);
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}
.search-item__link:hover {
    color: black;

}
@media screen and (main-width:992px) {
    .results {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1rem;
    }
}